<%- include("../pages/header") %>
<div id="histopaye">
<div class="row ">
    <figure class="highcharts-figure">
        <div id="container"></div>  
        <p class="highcharts-description">
            Pie charts are very popular for showing a compact overview of a
            composition or comparison. While they can be harder to read than
            column charts, they remain a popular choice for small datasets.
        </p>
    </figure>
</div>
</div>
         <%- include("../pages/footer",{
    script:`
    <script src="../assets/projet/Vue.js"></script>
    <script src="../assets/projet/Vue.js"></script>
   
    `
}) %>