<%- include("../pages/header") %>
<div id="histo">
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/dashboard">Accueil</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>historique</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
            <i class="icon-calendar"></i>&nbsp;
            <span class="thin uppercase hidden-xs"></span>&nbsp;
            <i class="fa fa-angle-down"></i>
        </div>
    </div>
</div>
<h3 class="page-title"> historique
    <small>enregistree</small>
</h3>

<!-- liste de historiaue du pqyement -->

        <div class="col-md-&é">
        <!-- BEGIN CONDENSED TABLE PORTLET-->
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-picture"></i>Liste de historique d'approvision </div>
                <div class="tools">
                
                <a href="javascript:;" class="btn btn-warning btn-sm">
                        <i class="fa fa-print"></i> Excel </a>
                    <a href="javascript:;" class="btn btn-danger btn-sm">
                    <i class="fa fa-print"></i> Pdf </a>
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body"  style="height:460px;overflow:scroll;box-shadow: 0px 20px 30px;">
                <div class="table-scrollable">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th> Numero facture </th>
                                <th> Fournisseur </th>
                                <th> intrant </th>
                                <th> Produit</th>
                                <th> unité</th>
                                <th> quantité</th>
                                <th> prix unitaire </th>
                                <th> Date</th>
                                <th colspan="3" style="text-align:center;"> type </th>
                            </tr>
                        </thead>
                        <tbody>
                                <!-- :key="approv.id" -->
                                <tr v-for="approv in liste"   class="odd gradeX">
                               <td>
                                    <a href="/"> {{approv.id}} </a>
                                </td>
                                <td>
                                <span  href="/">{{approv.fou}}</span>
                                </td>
                                <td>
                                        <span href="/"> {{approv.category}}</span>
                                       </td>
                                <td>
                                    <span href="/"> {{approv.name}}</span>
                                </td>
                                <td>
                                    <span href="/"> {{approv.unite}} </span>
                                </td>
                                <td>
                                    <span href="/"> {{approv.qt}} </span>
                                </td>
                                <td>
                                    <span href="/">{{approv.puvente}}</span>
                                </td>
                                <td>
                                        <span href="/"> {{approv.dateappro}} </span>
                                    </td>
                                    <td> <span v-if="approv.condition == 1">Gros</span><span v-else>Details</span> </td>
                                 
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END CONDENSED TABLE PORTLET-->
    </div>
</div>

<%- include("../pages/footer",{
    script:`
    <script src="../assets/projet/Vue.js"></script>
    <script src="../assets/projet/approvisionnement/historique.js"></script>
    `
}) %>
