<%- include("../pages/header") %>
<div id="pro">
    <v-app>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/dashboard">Accueil</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>stock</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
            <i class="icon-calendar"></i>&nbsp;
            <span class="thin uppercase hidden-xs"></span>&nbsp;
            <i class="fa fa-angle-down"></i>
        </div>
    </div>
</div>
<div class="text--primary">
    <!-- Using the elevation prop -->
    <v-hover>
      <template v-slot:default="{ hover }">
        <v-card
          :elevation="hover ? 24 : 6"
          class="mx-auto pa-6"
        >
            Produits
        </v-card>
      </template>
    </v-hover>
  </div>
<div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Liste des produits</div>
                <div class="actions">                                        
                    <a class="btn purple btn-danger sbold" data-toggle="modal" href="#large"> 
                     <i class="fa fa-plus"></i> Ajout produit</a>
                     <a class="btn btn-danger" data-toggle="modal" href="#cat"> 
                        <i class="fa fa-plus"></i> Ajout categorie</a>
                    <a href="javascript:;" id="down" class="btn btn-warning btn-sm">
                        <i class="fa fa-print"></i> Excel </a>
                </div>
            </div>
        </div>
         
        <v-card>
            <v-card-title>
              <v-text-field
                v-model="searchproduit"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="headers"
              :items="liste"
              :search="searchproduit"
              >
            <template v-slot:item.action={item}>
                    <a class="btn btn-sm blue" id="editerrr" data-toggle="modal" @click="edit(props.items)"  href="#modification"><i class="fa fa-edit"></i></a>
 
            </template>
        </v-data-table>
          </v-card>
        <div class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header info" style="background-color:rgb(66, 66, 66);border-radius:20px;">
                            <button type="button" class="close" data-dismiss="modal" style="color:white;" aria-hidden="true"></button>
                            <h4 class="modal-title" style="color:white" >Ajouter un nouveau produit  </h4>
                        </div>
                        <div class="modal-body"> 
                        <form action="#" id="form_sample_3">
                <div class="form-body col-md-3">
                <div class="form-group  form-md-line-input">
                         <select  v-model="idintrant" class="form-control" >
                            <option :key="list.id" :value="list.id" v-for="list in intrantliste">{{list.name}}</option>
                        </select>
                        <label for="form_control_1">Categorie</label>
                        <p style="color: #fc0612;">
                            {{ errors.idintrant }}
                        </p>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="number" v-model="parpresentation" class="form-control" name="papresentation" id="form_control_1">
                        <label for="form_control_1">Par presentation</label>
                        <p style="color: #fc0612;">
                            {{ errors.parpresentation }}
                        </p>
                    </div>                          
                   
                </div>
                <div class="form-body col-md-3">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" v-model="unite" class="form-control" name="unite" id="form_control_1">
                        <label for="form_control_1">Unité</label>
                        <p style="color: #fc0612;">
                            {{ errors.unite }}
                        </p>
                    </div>
                      <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="number" v-model="pudetail" class="form-control" name="prix_detail" id="form_control_1">
                        <label for="form_control_1">Pu de detail</label>
                        <p style="color: #fc0612;">
                            {{ errors.pudetail }}
                        </p>
                    </div> 
                                                       
                   
                </div>
                <div class="form-body col-md-3">
                        <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" v-model="name" class="form-control" name="nom_produit" id="form_control_1">
                                <label for="form_control_1">Nom du produit</label>
                                <p style="color: #fc0612;">
                                    {{ errors.name }}
                                </p>
                            </div> 
                 
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="number" v-model="pugros" class="form-control" name="pugros" id="form_control_1">
                        <label for="form_control_1">Pu en gros</label>
                            <p style="color: #fc0612;">
                                {{ errors.pugros }}
                            </p>
                    </div>  
                                                       
                   
                </div>
                <div class="form-body col-md-3">
                        <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" v-model="presentation" class="form-control" name="presentation" id="form_control_1">
                                <label for="form_control_1">presentation</label>
                                <p style="color: #fc0612;">
                                    {{ errors.presentation }}
                                </p>
                            </div>  
                                      
                       <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="number" v-model="puvente" class="form-control" name="prix_d_achat" id="form_control_1">
                        <label for="form_control_1">Pu d'Achat</label>
                        <p style="color: #fc0612;">
                            {{ errors.puvente }}
                        </p>
                    </div>
                      </div>
                      
                </div>  
                  <div class="form-body col-md-3">
                        <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="number" v-model="tva" class="form-control" name="tva" id="form_control_1">
                                <label for="form_control_1">tva</label>
                            </div>
                             <div class="form-group form-md-line-input form-md-floating-label">
                                <label for="peremption">Date de peremption</label>
        
                                <input type="date" v-model="dateperemption" class="form-control" name="dateperemption" id="peremption">
                            </div> 
                        </div> 
                        <div class="form-body col-md-3">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                        <input type="text" v-model="description" class="form-control" name="description" id="form_control_1">
                                        <label for="form_control_1">Description</label>
                                    </div>
                                 
                            
                    <button v-if="testa" class="btn btn-info" >Enregitrée avec succée</button>                                   
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Annuler</button>
                    <button type="button"  @click="addproduit" class="btn green">Enregistrer</button>
             
                </div>
                                <div class="modal-footer">
                                         </div>
              </form>
                        </div>
                    </div>
                    <!--  /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>





        <!-- modificatio -->

            <div class="modal fade bs-modal-lg" id="modification" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header info" style="background-color:rgb(66, 66, 66);border-radius:20px;">
                            <button type="button" class="close" data-dismiss="modal" style="color:white;" aria-hidden="true"></button>
                            <h4 class="modal-title" style="color:white" >Modifier un produit  </h4>
                        </div>
                        <div class="modal-body"> 
                        <form action="#" id="form_sample_3">
                <div class="form-body col-md-3">
                <div class="form-group form-md-line-input ">
                        <select  v-model="idintrantEdit" class="form-control" name="delivery">
                            <option :key="intrant.id" :value="intrant.id" v-for="intrant in intrantliste">{{intrant.name}}</option>
                        </select>
                        <label for="form_control_1">Categorie</label>
                        <!-- <span class="help-block">un intrant slectionnee...</span> -->
                    </div>
                
                          <div class="form-group form-md-line-input">
                        <input type="text" v-model="parpresentationEdit" class="form-control" name="name" id="form_control_1">
                        <label for="form_control_1">Par présentation</label>
                    </div>
                   
                </div>
                <div class="form-body col-md-3">
                  
                    <div class="form-group form-md-line-input ">
                            <input type="text" v-model="nameEdit" class="form-control" name="email" id="form_control_1">
                            <label for="form_control_1">Nom du produit</label>
                            <span class="help-block">Nom du produit...</span>
                        </div> 
                    <div class="form-group form-md-line-input">
                        <input type="text" v-model="pudetailEdit" class="form-control" name="name" id="form_control_1">
                        <label for="form_control_1">Pu de detail</label>
                    </div>
                                                       
                   
                </div>
                <div class="form-body col-md-3">
                  
                    <div class="form-group form-md-line-input">
                            <input type="text" v-model="uniteEdit" class="form-control" name="name" id="form_control_1">
                            <label for="form_control_1">Unité</label>
                        </div>  
                    <div class="form-group form-md-line-input">
                        <input type="number" v-model="pugrosEdit" class="form-control" name="email" id="form_control_1">
                        <label for="form_control_1">Pu de gros</label>
                        <span class="help-block">chiffre en Ariary...</span>
                    </div>  
                                                       
                   
                </div>
                <div class="form-body col-md-3">
                   
                    <div class="form-group form-md-line-input">
                            <input type="text" v-model="presentationEdit" class="form-control" name="email" id="form_control_1">
                            <label for="form_control_1">Présentation</label>
                            <span class="help-block">chiffre...</span>
                        </div> 
                      <div class="form-group form-md-line-input">
                        <input type="text" v-model="puventeEdit" class="form-control" name="name" id="form_control_1">
                        <label for="form_control_1">Pu d'Achat</label>
                    </div>
                                                       
                   
                </div>  
                 <div class="form-body col-md-6">
                    <div class="form-group form-md-line-input">
                        <input type="number" v-model="tvaEdit" class="form-control" name="name" id="tva">
                        <label for="tva">tva</label>
                    </div>
                     <div class="form-group form-md-line-input">
                        <label for="peremption">Date de peremption</label>
                        <input type="date" v-model="dateperemptionEdit" class="form-control" name="name" id="peremption">
                    </div> 
                </div>  
                <div class="form-body col-md-6">
                        <div class="form-group form-md-line-input">
                            <input type="text" v-model="descriptionEdit" class="form-control" name="name" id="description">
                            <label for="description">description</label>
                        </div> 
                    </div>  
                                <div class="modal-footer">
                                        <button type="button" @click="update" data-dismiss="modal" class="btn green">mettre a jour</button>
                                        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                                    </div>
              </form>
                        </div>
                    </div>
                     <!-- /.modal-content -->
                </div>
                <!-- .modal-dialog  -->
            </div> 


 <!-- suppression -->
            <div class="modal fade" id="suppre" style="border-radius:40px;" tabindex="-1" role="basic" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header info" style="background-color:#fc0612;border-radius:20px;">
                            <button type="button" class="close" data-dismiss="modal" style="color:white;" aria-hidden="true"></button>
                            <h4 class="modal-title" style="color:white" >Vous ete sur pour la suppression </h4>
                        </div>
                        <div class="modal-body"> 
                        
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                            <button type="button" @click="suppression" data-dismiss="modal" class="btn green">Save changes</button>
                        </div>
                    </div>
                     <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
         </div> 

         <!-- intrants -->
   


         <div class="modal fade bs-modal-lg" id="cat" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header info" style="background-color:rgb(66, 66, 66);;border-radius:20px;">
                        <button type="button" class="close" data-dismiss="modal" style="color:white;" aria-hidden="true"></button>
                        <h4 class="modal-title" style="color:white; font-size:40px;text-align:center">  <strong><i>
                        <i class="icon-l font-red-sunglo"></i>                                                    
                        Ajout du Categorie</i></strong>  </h4>
                    </div>
                    <div class="modal-body"> 
                     <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal">
            <div class="form-body">
                <p v-if="errorCat.length">
                    <b>Fenoy ny banga azafady indrindra:</b>
                    <ul>
                    <li class="alert alert-danger" v-for="erro in errorCat">{{ erro }}</li>
                    </ul>
                </p>
            <div class="form-group form-md-line-input has-success">
                    <label class="col-md-3 control-label" for="form_control_1"><strong><i>Categorie</i></strong></label>
                    <div class="col-md-9">
                        <input type="text" v-model="nomIntrant" class="form-control" required placeholder="nom Categorie...">
                        <div class="form-control-focus"> </div>
                        <span class="help-block">completer...</span>
                    </div>
                </div>
               </div>
            <div class="modal-footer">
                        <button type="submit" class="btn green"  @click="addIntrant"><i class="fa fa-save"></i> <span> Enregistrée </span></button>
                        <button type="button" class="btn dark btn-outline" data-dismiss="modal"><i class="fa fa-share"></i> <span> Annulle </span></button>
                    </div>
                    </div>

        </form>
                   
                </div>
                <!-- /.modal-content -->
            </div>
    </div>


</v-app>
</div>

               <%- include("../pages/footer",{
    script:`
    <script src="../assets/projet/produit/index.js"></script>
    <script src="../assets/table2excel.js" type="text/javascript"></script>
    <script>
            document.getElementById('down').addEventListener('click',function(){
                var table = new Table2Excel();
                table.export(document.querySelectorAll("#sample"))

            })
        </script>
    `
}) %>