<%- include("../pages/header") %>
<div  id="app">
    <v-app>
<div class="page-bar" >
    <ul class="page-breadcrumb">
        <li>
            <a href="/dashboard">Accueil</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Intrant
            </span>
         
        </li> 
      
    </ul>
    <div class="page-toolbar">
        <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
            <i class="icon-calendar"></i>&nbsp;
            <span class="thin uppercase hidden-xs"></span>&nbsp;
            <i class="fa fa-angle-down"></i>
        </div>
    </div>
</div>
<div class="text--primary">
    <!-- Using the elevation prop -->
    <v-hover>
      <template v-slot:default="{ hover }">
        <v-card
          :elevation="hover ? 24 : 6"
          class="mx-auto pa-6"
        >
            Catégories
        </v-card>
      </template>
    </v-hover>
  </div>
<div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>catégorie disponible</div>
                <div class="actions">
                    <a class="btn btn-default btn-outline sbold" data-toggle="modal" href="#basic">
                     <i class="fa fa-plus"></i> Ajouter</a>
                    <a href="javascript:;" class="btn btn-default btn-sm">
                        <i class="fa fa-print"></i>Exporter en Excel </a>
                        
                </div>
            </div>
            <v-card>
                <v-card-title>
                  <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                </v-card-title>
                <v-data-table
                  :headers="headers"
                  :items="listeIntrant"
                  :search="search"
                >
                <template v-slot:item.action="{ item }">
                    <a class="btn btn-sm blue" data-toggle="modal" href="#modification" @click="displayData(item)">
                        <i class="fa fa-edit"></i>
                    </a>
                  </template>
            </v-data-table>
              </v-card>
        </div>

            <!-- modal ajout -->
                <div class="modal fade" id="basic" style="border-radius:40px;" tabindex="-1" role="basic" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header info" style="background-color:rgb(66, 66, 66);;border-radius:20px;">
                                <button type="button" class="close" data-dismiss="modal" style="color:white;" aria-hidden="true"></button>
                                <h4 class="modal-title" style="color:white; font-size:40px;text-align:center">  <strong><i>
                                <i class="icon-l font-red-sunglo"></i>                                                    
                                Ajout du catégorie</i></strong>  </h4>
                                

                            </div>
                            <div class="modal-body"> 
                             <!-- BEGIN FORM-->
                <form action="#" id="app"  @submit="checkForm" class="form-horizontal">
                    <div class="form-body">
                    <div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label" for="form_control_1"><strong><i>Catégorie</i></strong></label>
                            <div class="col-md-9">
                                <input type="text" v-model="nomIntrant" id="nomIntrant" class="form-control"  placeholder="nom categorie...">
                                <div class="form-control-focus"> </div>
                                <p style="color: #fc0612;">
                                    {{ errors.nomIntrant }}
                                </p>
                            </div>
                        </div>
                       </div>
                    <div class="modal-footer">
                                <button type="submit" class="btn green"  ><i class="fa fa-save"></i> <span> Enregistrer </span></button>
                                <button type="button" class="btn dark btn-outline" data-dismiss="modal"><i class="fa fa-share"></i> <span> Annuler </span></button>
                            </div>
                            </div>
                </form>
                            </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>



                <!-- modal modification -->
            <div class="modal fade" id="modification" style="border-radius:40px;" tabindex="-1" role="basic" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header info" style="background-color:rgb(66, 66, 66);;border-radius:20px;">
                                <button type="button" class="close" data-dismiss="modal" style="color:white;" aria-hidden="true"></button>
                                <h4 class="modal-title" style="color:white; font-size:40px;text-align:center">  <strong><i>Modification d'Intrant</i></strong>  </h4>
                            </div>
                            <div class="modal-body"> 
                             <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal">
                    <div class="form-body">
                    <div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label" for="form_control_1"><strong><i>Nom cqtégorie</i></strong></label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" v-model="intrantEditName" placeholder="nom client...">
                                <div class="form-control-focus">  </div>
                                <span class="help-block">completer...</span>
                            </div>
                        </div>
                     
                        
                    </div>
                 
                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn green" data-dismiss="modal" @click="updateThis"><i class="fa fa-save"></i> <span> Mettre a jour </span></button>
                                <button type="button" class="btn dark btn-outline" data-dismiss="modal"><i class="fa fa-share"></i> <span> Annuler </span></button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>


                <!-- suppression -->
                <div class="modal fade" id="suppre" style="border-radius:40px;" tabindex="-1" role="basic" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header info" style="background-color:#fc0612;border-radius:20px;">
                                <button type="button" class="close" data-dismiss="modal" style="color:white;" aria-hidden="true"></button>
                                <h4 class="modal-title" style="color:white" >Vous ete sur pour la suppression </h4>
                            </div>
                            <div class="modal-body"> 
                            
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                                <button type="button" @click="deleteIntrant" data-dismiss="modal" class="btn green">Save changes</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

            </v-app>
                </div>
              
                <%- include("../pages/footer",{
                    script:`
                    <script src="../assets/projet/intrant/index.js"></script>
                   
                    `
                }) %>
                