<%- include("../pages/header") %>
<link rel="stylesheet" href="style.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="card">
                Hello
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                Hello
            </div>
        </div>
    </div>
</div>

<%- include("../pages/footer", {
    script:``
}) %>