<%- include("../pages/header") %>
<div id="fou">
<v-app>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/dashboard">Accueil</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Fournisseur</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
            <i class="icon-calendar"></i>&nbsp;
            <span class="thin uppercase hidden-xs"></span>&nbsp;
            <i class="fa fa-angle-down"></i>
        </div>
    </div>
</div>
<div class="text--primary">
    <!-- Using the elevation prop -->
    <v-hover>
      <template v-slot:default="{ hover }">
        <v-card
          :elevation="hover ? 24 : 6"
          class="mx-auto pa-6"
        >
            Fournisseurs
        </v-card>
      </template>
    </v-hover>
  </div>
<div class="col-md-12 col-sm-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Table de la liste des fournisseurs </div>
                <div class="actions">
                    <a class="btn btn-default btn-outline sbold" data-toggle="modal" href="#basic">
                     <i class="fa fa-plus"></i> Ajout</a>
                    <a href="javascript:;" id="down" class="btn btn-default btn-sm">
                        <i class="fa fa-print"></i> Excel </a>
                        
                </div>
            </div>
            
        </div>
        <v-card>
            <v-card-title>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="headers"
              :items="liste"
              :search="search"
              loading
              loading-text="Loading... Please wait"
            ></v-data-table>
          </v-card>


            <!-- modal ajout -->
                <div class="modal fade" id="basic" style="border-radius:40px;" tabindex="-1" role="basic" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header info" style="background-color:rgb(66, 66, 66);;border-radius:20px;">
                                <button type="button" class="close" data-dismiss="modal" style="color:white;" aria-hidden="true"></button>
                                <h4 class="modal-title" style="color:white; font-size:40px;text-align:center">  <strong><i>
                                <i class="icon-user font-red-sunglo"></i>                                                    
                                Ajout du fournisseur</i></strong>  </h4>
                            </div>
                            <div class="modal-body"> 
                             <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal">
                    <div class="form-body">
                    <div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label" for="form_control_1"><strong><i>Nom</i></strong></label>
                            <div class="col-md-9">
                                <input type="text" v-model="name" class="form-control" placeholder="nom client...">
                                <div class="form-control-focus"> </div>
                                <p style="color: #fc0612;">
                                    {{ errors.name }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label " for="form_control_1"><strong><i>Address</i></strong></label>
                            <div class="col-md-9">
                                <input type="text" v-model="adress" class="form-control" placeholder="Adress...">
                                <div class="form-control-focus"> </div>
                                <p style="color: #fc0612;">
                                    {{ errors.adress }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label" for="form_control_1"><strong><i>Contact</i></strong></label>
                            <div class="col-md-9">
                                <input type="number" v-model="contact" class="form-control" placeholder="0203049">
                                <div class="form-control-focus"> </div>
                                <p style="color: #fc0612;">
                                    {{ errors.contact }}
                                </p>
                            </div>
                        </div>
                         <div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label" for="form_control_1"><strong><i>Email</i></strong></label>
                            <div class="col-md-9">
                                <input type="text" v-model="email" class="form-control" placeholder="email">
                                <div class="form-control-focus"> </div>
                                <span class="help-block">email...</span>
                            </div>
                        </div>
                     
                        
                    </div>
                    <div class="modal-footer">
                                <button class="btn btn-info" v-if="test">Enregistrée avec succée</button>
                                <button type="button" @click="addclient"  class="btn green"><i class="fa fa-save"></i> <span> Enregistrée </span></button>
                                <button type="button" class="btn dark btn-outline" data-dismiss="modal"><i class="fa fa-share"></i> <span> Annulle </span></button>
                            </div>
                            </div>

                </form>
                           
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>



                <!-- modal modification -->
            <div class="modal fade" id="modification" style="border-radius:40px;" tabindex="-1" role="basic" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header info" style="background-color:rgb(66, 66, 66);;border-radius:20px;">
                                <button type="button" class="close" data-dismiss="modal" style="color:white;" aria-hidden="true"></button>
                                <h4 class="modal-title" style="color:white; font-size:40px;text-align:center">  <strong><i>Modification du fournisseur</i></strong>  </h4>
                            </div>
                            <div class="modal-body"> 
                             <!-- BEGIN FORM-->
                <form action="#" id="form" class="form-horizontal">
                    <div class="form-body">
                    <div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label" for="form_control_1"><strong><i>Nom</i></strong></label>
                            <div class="col-md-9">
                                <input type="text" id="nom" v-model="nameEdit" class="form-control" placeholder="nom client...">
                                <div class="form-control-focus"> </div>
                                <span class="help-block">compter...</span>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label" for="form_control_1"><strong><i>Address</i></strong></label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" v-model="adressEdit" id="adress" placeholder="Adress...">
                                <div class="form-control-focus"> </div>
                                <span class="help-block">compter...</span>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label" for="form_control_1"><strong><i>Contact</i></strong></label>
                            <div class="col-md-9">
                                <input type="number" class="form-control" v-model="contactEdit" id="contact" placeholder="0203049">
                                <div class="form-control-focus"> </div>
                                <span class="help-block">telephone...</span>
                            </div>
                        </div>
                          <div class="form-group form-md-line-input has-success">
                            <label class="col-md-3 control-label" for="form_control_1"><strong><i>email</i></strong></label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" v-model="emailEdit" id="contact" >
                                <div class="form-control-focus"> </div>
                                <span class="help-block">email...</span>
                            </div>
                        </div>
                     
                        
                    </div>
                 
                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" @click="update" class="btn green" data-dismiss="modal"><i class="fa fa-save"></i> <span> Mettre a jour </span></button>
                                <button type="button" class="btn dark btn-outline" data-dismiss="modal"><i class="fa fa-share"></i> <span> Annulle </span></button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>


                <!-- suppression -->
                <div class="modal fade" id="suppre" style="border-radius:40px;" tabindex="-1" role="basic" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header info" style="background-color:#fc0612;border-radius:20px;">
                                <button type="button" class="close" data-dismiss="modal" style="color:white;" aria-hidden="true"></button>
                                <h4 class="modal-title" style="color:white" >Vous ete sur pour la suppression </h4>
                            </div>
                            <div class="modal-body"> 
                            
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                                <button type="button"  @click="suppression" data-dismiss="modal" class="btn green">Save changes</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </v-app>
</div>

             <%- include("../pages/footer",{
    script:`
    <script src="../assets/projet/fournisseur/index.js"></script>
    <script src="../assets/table2excel.js" type="text/javascript"></script>
    <script>
            document.getElementById('down').addEventListener('click',function(){
                var table = new Table2Excel();
                table.export(document.querySelectorAll("#sample"))

            })
        </script>
    `
}) %>